# Auto detect text files and perform LF normalization
* text=auto

# Vivado project files
**/*.lpr linguist-language=XML
**/xgui/*.tcl linguist-generated
**/*.gen/** linguist-generated
**/*.ip_user_files/** linguist-generated
**/*_ooc.xdc linguist-generated
**/constraints/*.xdc linguist-language=Tcl
